$(document).ready(function(){
$("#comment_information").html("
.alert.alert-warning>
  %button.close{"data-dismiss" => "alert"} x
  %h3 Comentário enviado para aprovação
");
$('#new_comment').reset();
})
